<md-content layout-fill flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="back" ng-click="closeDialog()">
                <ng-md-icon icon="clear"></ng-md-icon>
            </md-button>
            <h3 flex>Traveling from</h3>
        </div>
    </md-toolbar>

    <form layout-padding layout="row" ng-submit="searchLocations()">
        <md-input-container flex class="md-icon-right md-block">
            <label>Destination search</label>
            <input ng-model="searchQuery" type="text">
        </md-input-container>
        <md-button aria-label="back" class="md-icon-button" ng-click="searchLocations()">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
    </form>

    <div ng-if="recentLocations">

        <h5 layout-padding>Recent Destinations</h5>

        <md-list>
            <md-list-item ng-click="selectOrigin(location)" ng-repeat="location in recentLocations | limitTo: 5">
                {{location.name}} <ng-md-icon icon="favorite_border"></ng-md-icon>
            </md-list-item>
        </md-list>

        <md-divider></md-divider>

    </div>

    <md-list>
        <md-list-item ng-click="selectOrigin(location)" ng-repeat="location in locations.LocationList.StopLocation">
            {{location.name}}
        </md-list-item>
    </md-list>
</md-content>
