<md-content layout-fill flex>
    <md-list>
    	<md-list-item>
    		Your location: {{ location.coords.longitude }}, {{ location.coords.latitude }}
        <md-list-item>
            Time Table Creation Date {{SystemInfo.TimetableInfo.TimeTableData.CreationDate.$}}
        </md-list-item>
        <md-list-item>
            Time Table Run {{SystemInfo.TimetableInfo.TimeTablePeriod.DateBegin.$}} - {{SystemInfo.TimetableInfo.TimeTablePeriod.DateEnd.$}}
        </md-list-item>
        <md-list-item>
            XSD {{SystemInfo.noNamespaceSchemaLocation}}
        </md-list-item>
    </md-list>
</md-content>
